.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-right: 10px;
}